#editor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 500px;
    padding-top: 10px;
    position: relative;
    z-index: -0;


}

#wrapper{
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
}